In [1]:
import pandas as pd
cafe = pd.read_csv("C:/Users/bora3/OneDrive/바탕화~1-DESKTOP-2VUCFIQ-13284516/TAVE/AI spark/AI_spark-main/data/cafe_earn.csv", encoding='cp949')

In [2]:
cafe.head(-5)

            주문일시          주문번호 매출구분명   결제수단      공급가액      부가세        합계
0     2021-01-01    B0UG00RHPT  기타매출     쿠폰     909 원     91 원   1,000 원
1     2021-01-01    B0UG00U5GK  기타매출  회원포인트     636 원     64 원     700 원
2     2021-01-01    B0UG00XD3U  기타매출     쿠폰     909 원     91 원   1,000 원
3     2021-01-01    B0UG00XD3U  기타매출  회원포인트     273 원     27 원     300 원
4     2021-01-01    B0UG01BFVX  기타매출    휴대폰  10,636 원  1,064 원  11,700 원
...          ...           ...   ...    ...       ...      ...       ...
3430  2021-11-22    B13H00VV8A  기타매출  네이버페이     250 원     25 원     275 원
3431  2021-11-22    B13H01PREE  기타매출  네이버페이     239 원     24 원     263 원
3432  2021-11-22  T13H00003LP3  기타매출     쿠폰     455 원     45 원     500 원
3433  2021-11-22    B13H01P48B  카드매출  카카오페이  19,182 원  1,918 원  21,100 원
3434  2021-11-22    B13H01PREE  카드매출  네이버페이  10,670 원  1,067 원  11,737 원

[3435 rows x 7 columns]

In [5]:
import pandas as pd
cafe_wh = pd.read_csv("C:/Users/bora3/OneDrive/바탕화~1-DESKTOP-2VUCFIQ-13284516/TAVE/AI spark/AI_spark-main/data/wh_fin.csv", encoding='cp949')

In [6]:
cafe_wh.head()

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),...,0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),기사,안개 계속시간(hr)
0,108,서울,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,...,2.9,6.8,9.7,15.9,17.5,1.1,1.6,NaN,NaN,NaN
1,108,서울,2021-01-02,-5.0,-8.4,805,-1.4,1346,NaN,NaN,...,2.6,6.6,9.6,15.8,17.5,1.4,2.0,NaN,NaN,NaN
2,108,서울,2021-01-03,-5.6,-9.1,536,-2.0,1238,NaN,NaN,...,2.5,6.5,9.5,15.7,17.4,1.0,1.5,NaN,NaN,NaN
3,108,서울,2021-01-04,-3.5,-8.4,656,0.3,1535,2.33,NaN,...,2.3,6.3,9.4,15.6,17.4,0.9,1.3,0.0,{눈}2140-{눈}{강도0}2400-,NaN
4,108,서울,2021-01-05,-5.5,-9.9,2356,-2.1,1,5.42,NaN,...,2.2,6.2,9.3,15.5,17.3,1.2,1.7,NaN,-{눈}-{눈}{강도0}0300-0420. {눈}0510-{눈}{강도0}0600-0...,NaN

In [7]:
merge = pd.merge(cafe_wh,cafe, left_on = '일시', right_on='주문일시')

In [8]:
merge_cafe = merge.drop(['매출구분명','결제수단','공급가액','부가세','주문번호'], axis = 1)

In [10]:
merge_cafe.head()

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),...,1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),기사,안개 계속시간(hr),주문일시,합계
0,108,서울,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,...,9.7,15.9,17.5,1.1,1.6,NaN,NaN,NaN,2021-01-01,"1,000 원"
1,108,서울,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,...,9.7,15.9,17.5,1.1,1.6,NaN,NaN,NaN,2021-01-01,700 원
2,108,서울,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,...,9.7,15.9,17.5,1.1,1.6,NaN,NaN,NaN,2021-01-01,"1,000 원"
3,108,서울,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,...,9.7,15.9,17.5,1.1,1.6,NaN,NaN,NaN,2021-01-01,300 원
4,108,서울,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,...,9.7,15.9,17.5,1.1,1.6,NaN,NaN,NaN,2021-01-01,"11,700 원"

In [11]:
merge_cafe['합계']= merge_cafe['합계'].str.replace('원','')
merge_cafe['합계']= merge_cafe['합계'].str.replace(',','')

In [12]:
merge_cafe.head()

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),...,1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),기사,안개 계속시간(hr),주문일시,합계
0,108,서울,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,...,9.7,15.9,17.5,1.1,1.6,NaN,NaN,NaN,2021-01-01,1000
1,108,서울,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,...,9.7,15.9,17.5,1.1,1.6,NaN,NaN,NaN,2021-01-01,700
2,108,서울,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,...,9.7,15.9,17.5,1.1,1.6,NaN,NaN,NaN,2021-01-01,1000
3,108,서울,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,...,9.7,15.9,17.5,1.1,1.6,NaN,NaN,NaN,2021-01-01,300
4,108,서울,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,...,9.7,15.9,17.5,1.1,1.6,NaN,NaN,NaN,2021-01-01,11700

In [17]:
date = merge_cafe.groupby('일시').mean()

In [13]:
merge_cafe['sale'] =pd.to_numeric(merge_cafe['합계'])

In [14]:
sum = merge_cafe.groupby('일시').sum()

In [18]:
date['sale'] = sum['sale']

In [20]:
date.head()

,지점,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),1시간 최다강수량(mm),...,0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr),sale
일시,,,,,,,,,,,,,,,,,,,,,
2021-01-01,108.0,-4.2,-9.8,511.0,1.6,1447.0,NaN,NaN,NaN,NaN,...,2.9,6.8,9.7,15.9,17.5,1.1,1.6,NaN,NaN,615110
2021-01-02,108.0,-5.0,-8.4,805.0,-1.4,1346.0,NaN,NaN,NaN,NaN,...,2.6,6.6,9.6,15.8,17.5,1.4,2.0,NaN,NaN,296620
2021-01-04,108.0,-3.5,-8.4,656.0,0.3,1535.0,2.33,NaN,NaN,NaN,...,2.3,6.3,9.4,15.6,17.4,0.9,1.3,0.0,NaN,259900
2021-01-05,108.0,-5.5,-9.9,2356.0,-2.1,1.0,5.42,NaN,NaN,NaN,...,2.2,6.2,9.3,15.5,17.3,1.2,1.7,NaN,NaN,248520
2021-01-06,108.0,-7.4,-12.0,702.0,-1.9,1547.0,5.33,NaN,NaN,NaN,...,2.0,6.0,9.2,15.5,17.3,1.2,1.8,2.3,NaN,469800

In [21]:
date2 = date.reset_index()

In [22]:
date2.head()

,일시,지점,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),...,0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr),sale
0,2021-01-01,108.0,-4.2,-9.8,511.0,1.6,1447.0,NaN,NaN,NaN,...,2.9,6.8,9.7,15.9,17.5,1.1,1.6,NaN,NaN,615110
1,2021-01-02,108.0,-5.0,-8.4,805.0,-1.4,1346.0,NaN,NaN,NaN,...,2.6,6.6,9.6,15.8,17.5,1.4,2.0,NaN,NaN,296620
2,2021-01-04,108.0,-3.5,-8.4,656.0,0.3,1535.0,2.33,NaN,NaN,...,2.3,6.3,9.4,15.6,17.4,0.9,1.3,0.0,NaN,259900
3,2021-01-05,108.0,-5.5,-9.9,2356.0,-2.1,1.0,5.42,NaN,NaN,...,2.2,6.2,9.3,15.5,17.3,1.2,1.7,NaN,NaN,248520
4,2021-01-06,108.0,-7.4,-12.0,702.0,-1.9,1547.0,5.33,NaN,NaN,...,2.0,6.0,9.2,15.5,17.3,1.2,1.8,2.3,NaN,469800

In [23]:
 date.to_csv("wh_finfin.csv")

In [15]:
date2['날'] = pd.to_datetime(date2['일시'])

NameError: name 'date' is not defined